@font-face {
  font-family: "Louis Vuitton Web";
  src: url("/fonts/LouisVuitton-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Louis Vuitton Web";
  src: url("/fonts/LouisVuitton-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Louis Vuitton Web";
  src: url("/fonts/LouisVuitton-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Louis Vuitton Web";
  src: url("/fonts/LouisVuitton-Bold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}
/* @font-face {
  font-family: "Louis Vuitton Web";
  src: url("./font/Intrepid.ttf") format("truetype");
  font-weight: 500;
} */
