.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: auto;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 116px;
  @media screen and (max-width: 64rem) {
    height: 72px;
  }
}

.headerLogo {
  margin: auto;
  font-size: 32px;
}

.nav {
  ul {
    display: flex;
    column-gap: 34px;
    font-size: 13px;
    font-weight: 500;
  }
}

.pcOnly {
  display: block;
  @media screen and (max-width: 64rem) {
    display: none;
  }
}

.mobileOnly {
  display: none;
  @media screen and (max-width: 64rem) {
    display: block;
  }
}

.footer {
  background: #19110b;
  padding-left: 4.6875vw;
  padding-right: 4.6875vw;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
